@model IEnumerable<DDACAssignment.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.image_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.image_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_image)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.image_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.image_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
